.container {
    display: flex;
    justify-content: right;
    justify-items: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: #2a2a2c;
    border: 1px solid #a0a096;
}
.button-footer{
    display: inline-flex;
    justify-content: space-between;
}
.edit-button{
    margin-right: 10%;
}
.delete-button{
    margin-left: 10%;
}
.submit-button{
    margin-right: 10%;
}
.button-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
}
.detail-button-container{
    margin-left: 10px;
}